.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
  z-index: 1;
}

.modal__content {
  padding: 30px;
  border-radius: 30px;
  background-color: #fff;
  max-width: 380px;
  font-size: 16px;
  font-weight: 600;
  /* z-index: 2; */
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.confirm {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #007BFF; /* Голубой цвет */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1; /* Занимает равное пространство */
  margin: 0 10px; /* Отступ между кнопками */
}

.confirm:hover {
  background-color: #0056b3; /* Темно-голубой при наведении */
}

.cancel {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #dc3545; /* Красный цвет */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1; /* Занимает равное пространство */
  margin: 0 10px; /* Отступ между кнопками */
}

.cancel:hover {
  background-color: #c82333; /* Темно-красный при наведении */
}

