.container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px (black);
}

.avatarContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
