

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    width: 70%; 
    margin: 0 auto; 
}

.cardContainer.hidden {
    opacity: 0;
}



.card:hover {
    background: darkgray;
}

.card h3 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}