.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    background-color: #fff;
    color: #578cec;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 60px;
}

.icons {
    margin-right: 10px;
    font-size: 25px;
}

.button {
    border: none;
    width: 60px;
    font-size: 25px;
}

.secondContainer {
    display: flex;
}
